/* components/EditableImage/EditableImage.module.css */
.image {
    margin-bottom: 20px;
  }
  
  .image input {
    width: 100%;
    padding: 10px;
  }
  
  .image button {
    padding: 10px;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .image button:hover {
    background-color: #bd2130;
  }
  